// post-meta styles.
// Custom word count with hexo-wordcount
.post-wordcount {
  if !hexo-config('post_wordcount.separated_meta') { display: inline-block; }
}


// sidebar-author styles.
if hexo-config('avatar.animation') {
  // FIXME: Custom avatar hover
  .site-author-image:hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
  }
}


// footer styles.
.copyright {
  display: inline;
}


// post styles.
// 小代码块
code {
  color: #d3055c;
  background: #fbf7f8;
  margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}
.highlight, code, pre {
  border: 1px solid #d6d6d6;
}
// 主页文章添加阴影效果
article {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
// 首页阅读全文样式
.post-button {
    margin-top: 30px;
    text-align: center;
}
.post-button .btn {
    color: #fff;
    font-size: 15px;
    background: #686868;
    border-radius: 16px;
    line-height: 2;
    margin: 0 4px 8px 4px;
    padding: 0 20px;
}
.post-button a{
  border-bottom: 1px solid #666;
}
.post-button a:hover {
    color: #7784ba;
}